<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>

<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let search of items">
    {{ item }}
  </ion-item>
</ion-list>
</ion-header>

<ion-content padding>
  <ion-list >
    <ion-item *ngFor = "let item of results">
      <ion-thumbnail item-start>
        <img src={{item.image}}>
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
      <p>{{item.author}} • {{item.date}}</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>


</ion-content>


